
:root {
    --side-font-color: #8c8d8f;
    --font-color: #dad9d7;
    --back-color: #DCE1E9;
    --nav-color: #2B2D42;
    --nav-highlight-color: #4d5073;
    --highlight-color: #387D7A;
    --break-color: #C0C2C6;
    --font: 'Poppins', sans-serif;
    --nav-header-margin: 25vw;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: var(--font);
    list-style-type: none;
}

body {
    background: var(--back-color);
}

/* navbar */

nav {
    position: absolute;
    background-color: var(--nav-color);
    color: var(--font-color);
    height: 100%;
    width: var(--nav-header-margin);
    display: flex;
    flex-direction: column;
}

nav .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

nav .face {
    height: 8vh;
    width: auto;
    padding-bottom: 10px;
}

nav .break-line {
    color: var(--break-color);
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-top: 3px solid #bbb;
}

nav p {
    color: var(--side-font-color);
    font-weight: lighter;
    font-size: 15px;
    padding-left: 20px;
}

nav li {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

.pages li:hover {
    background-color: var(--nav-highlight-color);
    border-left: .5vw solid var(--highlight-color);
}

nav .icon {
    filter: invert(100%);
    height: 1vh;
    margin-right: 1vw;
}

.checkmark {
    padding-right: 1vw;
}

/* header */

header {
    position: absolute;
    margin-left: var(--nav-header-margin);
    background-color: var(--back-color);
    color: var(--font-color);
    border-bottom: .2vh solid var(--break-color);
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
}

header .first-icon {
    height: 2vh;
    margin-left: 2vw;
}

header .icon {
    height: 2vh;
    margin-left: 2vw;
}
header .icon:hover {
    background-color: var(--highlight-color);
}

header .break-line {
    color: var(--break-color);
    margin-left: 2vh;
    border-right: 2px solid #bbb;
    height: 100%;
}

.search {
    width: 40vw;
    height: 100%;
    margin-left: .5vw;
}

.search-icon {
    margin-left: 2vw;
    margin-top: .6vh;
    height: 1.5vh;
    filter: invert(50%);
}

header input {
    width: 40vw;
    padding: 10px;
    border: 0;
    background: transparent;
}